@model Sites

@{
    Layout = null;
}
<h4>Добавить сайт</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form onsubmit="return SubmitAdd(this)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>